$timeColor: #509ac7;
$endtimeColor: #45add8;
$socialmediaColor:  #cce6ff;
$headerColor: #2293ae;
$btmheaderColor: #6eb3ca;
$fontColorHeader: #fff;
$marginBtm: 16px;
$marginBtm0: 0;
$myFont: 'peyda';
$myBoldFont: 'peyda_bold';
$myBorderRadius: 6px;
$secondBorderRadius: 10px;
$backgraoundMenu: #34849a;
$backgraoundli: #ace3f166;
$titrColoropacity: #ff0000b3;
$titrColor: #ff0000;
$secondColor: #666;
$dateFontSize: 13px;
$leadColor: #747474;
$mainColor: #000;
$timedateColor: #999;
$sportColor: #005aff;
$videboxColor: #2f2d2d;
$leadvideoColor: #adadad;
$paddingBox: 0 20px;
$footerColor: #b8b8b8;
$backgraoundVideo: #f1f1f1;
$shadowColor: #808080;
$backgroundopacity: #222222b3;
$padding16: 16px;
$padding10: 10px;
$colorSubmenu: #123d48;